
<button mat-raised-button (click)="dialogTransacao()"> adicionar </button>


<mat-card class="cardCampos" appearance="outlined">
  
  <mat-card-header>
    <h3>Histórico de transação</h3>
  </mat-card-header>
  
  <mat-card-content>

    <form [formGroup]="pesquisa">

      <mat-grid-list cols="12" rowHeight="200px" gutterSize="10px">

        <mat-grid-tile colspan="3">
          <mat-form-field floatLabel="always" appearance="outline" class="namebox" hideRequiredMarker="true">
            <mat-label>Tipo de transação</mat-label>
            <mat-select  formControlName="transacao" >
              <mat-option *ngFor="let transacao of tipoTransacao" [value]="transacao.id"> {{ transacao.nome }} </mat-option> 
            </mat-select>
            <mat-error>Preencha o campo.</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="3">
          <mat-form-field floatLabel="always" appearance="outline" class="namebox" hideRequiredMarker="true">
            <mat-label>Categoria</mat-label>
            <mat-select  formControlName="categoria" >
              <mat-option *ngFor="let categoria of tipoCategoria" [value]="categoria.id"> {{ categoria.nome }} </mat-option> 
            </mat-select>
            <mat-error>Preencha o campo.</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="3">
          <mat-form-field floatLabel="always" appearance="outline" class="namebox" hideRequiredMarker="true">
            <mat-label>Data da Inicio</mat-label>
            <input matInput type="date" formControlName="dataInicio">
            <mat-error>Preencha o campo.</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="3">
          <mat-form-field floatLabel="always" appearance="outline" class="namebox" hideRequiredMarker="true">
            <mat-label>Data da fim</mat-label>
            <input matInput type="date" formControlName="dataFim">
            <mat-error>Preencha o campo.</mat-error>
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>

    </form>

    
    <app-tabelaTransacoes></app-tabelaTransacoes>


  </mat-card-content>

  <mat-card-footer>
    <mat-grid-list cols="12" rowHeight="120px" gutterSize="10px">

      <mat-grid-tile colspan="1"></mat-grid-tile>

      <mat-grid-tile colspan="3" class="receita">
       <mat-icon>arrow_upward</mat-icon> Receita: {{service.formatarValor(obtemReceita()) }}
      </mat-grid-tile>
      
      <mat-grid-tile colspan="3" class="despesa">
        <mat-icon>arrow_downward</mat-icon> Despesa: {{service.formatarValor(obtemDespesa())}}
      </mat-grid-tile>

      
      <mat-grid-tile colspan="3" class={{service.obtemSaldoStatus(obtemSaldo())}}>
        <mat-icon>payments</mat-icon>Saldo: {{service.formatarValor(obtemSaldo())}}
      </mat-grid-tile>

      <mat-grid-tile colspan="2"></mat-grid-tile>

    </mat-grid-list>
  </mat-card-footer>
</mat-card>

